body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#message{
    color: blue;
}

button{
    margin-top: 20px;
    padding:10px;
    font-size: 16px;
    cursor: pointer;
}